$lightColor: (
    bgColor: #d2e1f6,
    appColor: #e3ecfb,
    btnColor: #dee7f6,
    hoverColor: #d1ddf3,
    fontColor: #6b7a8e,
    shadowColor: #abb9d3,
    playColor: #96a5ce,
);

$darkColor: (
    bgColor: #27282d,
    appColor: #33363d,
    btnColor: #2a2d32,
    hoverColor: #324c63,
    fontColor: #a1a2a8,
    shadowColor: #1d1d1dd0,
    playColor: #10a6fb,
);

$orangeColor: #e13e1b;